@import "tailwindcss";
.rain {
  position: absolute;
  top: -50px;
  width: 2px;
  background: rgba(255, 255, 255, 0.55);
  transform: rotate(15deg);
  animation: rainFall linear infinite;
}

@keyframes rainFall {
  0% {
    transform: translateY(-50px) rotate(15deg);
  }

  100% {
    transform: translateY(110vh) rotate(15deg);
  }
}